@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&family=Raleway&display=swap');

/* Palette */

/* palette 1 pinky: #ac8181  grey: #cfceca white: #f8f8ff blue-dark: #253d5b */
/* palette 2 white: #FFFFFF   beige: #F4F1E0  red: #F14C38  blue_dark: #144955 */

//color bg
$color_nav_bg: rgba(253, 253, 253, 2);
$color_footer_bg: #F2F2F2;

//color logo and nav

$color_logo_main: #2EB641;
$color_logo_second: #0A164E;
$color_navigation: #0A164E;
$color_footer_txt: #272727;

//color titles
$color_big_title: #1b2d38;
$color_second_title: #2EB641;

//color ordinary text
$color_txt_dark: #272727;
$color_txt_light: #0f4c81;

// colors
$my_dark:  #0A164E;
$my_green: #37A000;
$my_green_dark: #008329;
$my_light_green: #bcf5bc;
$tangerine: #da4221;
$tangerine_dark: #D50000;
$my_yellow: #E6A01E;
$my_yellow_dark: hsl(39, 92%, 35%);
$light-blue: #2ab2c0;
$classic-blue: #0f4c81;
$my_white: white;
$my_grey: grey;
/* Typography */

// navigation typography
$font_nav: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font_logo_main: 'Abril Fatface', cursive, 'Open Sans', sans-serif;
$font_logo_second: 'Abril Fatface', cursive, 'Open Sans', sans-serif;

// Interface typography

$font_interf_bold: 'Abril Fatface', cursive, 'Open Sans', sans-serif;
$font_interf_small: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// article typography
$font_big_title: 'Abril Fatface', cursive, 'Open Sans', sans-serif;
$font_ordinary_text: 'Courier New', Courier, monospace;
$font_second_title:  'Raleway', sans-serif;

// box models

:root {
  --nav_height_desk: 76px;
  --nav_height_tablet: 127px;
  --nav_height_mobile: 72px;
  --footer_height_desk: 127px;
  --footer_height_desk: 127px;
  --footer_height_tablet: 127px;
}

$nav_height_desk: 76px;
$nav_height_tablet: 127px;
$nav_height_mobile: 72px;

$footer_height_desk: 127px;
$footer_height_tablet: 127px;
$footer_height_mobile: 190px;

/* animation mixin */
@keyframes fading {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

/* global settings */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  min-width: 22rem;
  min-height: 44rem;
  display: block;
  font-family: 'Courier New', Courier, monospace;
}

body {
  // background-color: white;
  width: 100%;
  min-height: 100vh ;
  min-width: 22rem;
  display: block;
}
